#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
#navbar form {
  display: flex;
  gap: 0.5rem;
}
#navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
  width: 16rem;
  background-color: #fafafa;
  transition: 0.2s;
}
#navbar input:focus {
  appearance: none;
  outline: none;
  border-bottom: 2px solid #18181b;
}

#navbar form button {
  background-color: #18181b;
  border: 2px solid #18181b;
  border-radius: 4px;
  color: #fafafa;
  padding: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

#navbar form button:hover {
  background-color: #fafafa;
  border: 2px solid #18181b;
  border-radius: 4px;
  color: #18181b;
}
