.footer-container {
  width: 100%;
  height: 12rem;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #111827;
  color: #d1d5db;
}

.icons-footer {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-footer a svg {
  color: #d1d5db;
  width: 30px;
  height: 30px;
}
