* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e8f0;
  color: #18181b;
}

a {
  text-decoration: none;
  color: #18181b;
  transition: 0.5s;
}

a:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1rem 2rem;
}

.content {
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
