* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e8f0;
  color: #18181b;
}

a {
  text-decoration: none;
  color: #18181b;
  transition: 0.5s;
}

a:hover {
  opacity: 0.7;
}
